
{% extends "base.html" %} {% block content %}
<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Contact Us</h1>
      <h5 class="w3-padding-32">Phone No:- +91 1234567890<br>
        Email Id:- helpdesk@saafkapde.com<br>
      Operating Hours:- 8am to 7pm<br>Calling Hours:- 8am to 5pm</h5>

      <p class="w3-text-grey"></p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Saaf Kapde Laundry Services,<br>Thapar University,<br>Patiala 147004</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3442.9385488459957!2d76.3694506!3d30.3526963!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391028aef0b02ff7%3A0xb0d9d814368aed9b!2sTHAPAR%20UNIVERSITY!5e0!3m2!1sen!2sin!4v1580571915513!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>

{% endblock %}