{% extends "base.html" %} {% block content %}
<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">SAAF KAPDE</h1>
  <img src="{{ url_for('static',filename='images/logo.png') }}">
  <p class="w3-xlarge">One Call To Clean It All</p>
 
</header>
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>One Stop Destination For All Laundry</h1>
      <h5 class="w3-padding-32">Saaf Kapde is a professional on demand garment care, cleaning and fininshing service which caters to all the needs of a hostel student.</h5>

      <p class="w3-text-grey">We provide you the best online dry-cleaning and laundry services wtih affordable prices.We understand the pressure of a busy and high powered life of a student and hence provide services at your doorstep.Looking for urgent laundry? We can provide you in 48 hours, in an effort to match your busy schedule annd the demands it necessarily entails.From traditional self service cleaning options to convenient online laundry with pickup and drop-off services, we have got you covered!  </p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>About Us</h1>
      <h5 class="w3-padding-32">We are a team of passionate people who believe in the role technology can play to make our daily life easier. At Saaf Kapde we want to redefine the laundry services provided to hosteller and use technology to provide them with the best experience with our promise of convenience and quality.</h5>

      <p class="w3-text-grey"></p>
    </div>
  </div>
</div>

{% endblock %}