{% extends "base.html" %} {% block content %}
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <div class="container">
            T-Shirts         Rs 10/piece<br>
            Jeans            Rs 10/piece<br>
            Sweaters         Rs 20/piece<br>
            Jackets          Rs 20/piece<br>
            Bedsheets        Rs 30/piece<br>
            Blanket          Rs 30/piece<br>
            Towel            Rs 10/piece<br>
      </div>
    </div>
  </div>
</div>

{% endblock %}